/* Scss Document */
o-view-container{
	position:relative;
	display:block;
	width:100%;
    z-index:10;
    overflow-x:hidden;
    overflow-y:hidden;
}

o-view {
	position:absolute;
    visibility:hidden;
    opacity:0;
	width:100%;
    height:100%;
    top:0;
    left:0;
    overflow-x:hidden;
    overflow-y:hidden;
    z-index:1;
    background-color:white;
}

.view-left{
    transform: translateX(-100%);
    transition: translate 0.1s cubic-bezier(0.465,0.183,0.153,0.946);
}

.view-right{
    transform: translateX(100%);
    transition: translate 0.1s cubic-bezier(0.465,0.183,0.153,0.946); 
}

.view-top{
    transform: translateY(-100%);
    transition: translate 0.1s cubic-bezier(0.465,0.183,0.153,0.946);
}

.view-bottom{
    transform: translateY(100%);
    transition: translate 0.1s cubic-bezier(0.465,0.183,0.153,0.946);
}

.view-fader{
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(0.465,0.183,0.153,0.946);
}

.view-dismissed{
    opacity:1;
    visibility:visible;
    display:block;
    z-index:10;
    transform: translateX(0) translateY(0);
    transition: 
        transform 0.5s cubic-bezier(0.465,0.183,0.153,0.946),
        opacity 0.5s cubic-bezier(0.465,0.183,0.153,0.946);
}

.view-active{
    opacity:1;
    visibility:visible;
    display:block;
    z-index:100;
    transform: translateX(0) translateY(0);
    transition: 
        transform 0.8s cubic-bezier(0.465,0.183,0.153,0.946),
        opacity 0.3s cubic-bezier(0.465,0.183,0.153,0.946);
}

  




