
$transition: cubic-bezier(0.465,0.183,0.153,0.946);
$loaderImage:  url(../img/loader-light.gif);

@import '_mixins';
@import '_frames';
@import '_pages';
@import '_modals';
@import '_loading';
@import '_debug';


html,body{
	height:100%;
}
body.octane{
		overflow-x:hidden;
		padding-left:0px !important;
		padding-right:0px !important;
		margin:0px !important;
}
// override bootstrap
header.row,
footer.row,
div.row {
	margin-left:0px !important;
	margin-right:0px !important;
}


/* App Layers */

o-background {
	z-index:-1;
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	opacity:0;
	will-change: opacity;
	transition: opacity 0.3s $transition;
	&.active {
		opacity:1;
		transition: opacity 0.3s $transition;
		canvas {
			width:101%;
			margin-left:-0.5%;
			margin-top:-0.5%;
			filter:blur(3px);
			transform: translate-3d(0,0,0);
		}
	}
}

o-app-container {
	z-index: 1;
	float:left;
	height:auto;
	width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
	background-color:white;
	opacity:1;
	transition: opacity 0.3s cubic-bezier(0.465,0.183,0.153,0.946);
	&.hidden {
		opacity:0;
		transition: opacity 0.3s cubic-bezier(0.465,0.183,0.153,0.946);
	}
}

.o-btn {
	cursor:pointer;
	min-height:30px;
	min-width:30px;
}

.o-back { @extend .o-btn; }
[o-route] { cursor:pointer; }
.hidden { visibility:hidden !important;}
.display-none { display:none; }
// hide pre-compiled {{templating}}
[o-model]{
	visibility:hidden;
	&.compiled { visibility:visible }
}
