
	<!-- partial: footer -->
	<footer class="row footer">
		
		<div class="row" style="padding-right:0px; width:100%">
			<div class="col-md-10 col-md-push-1">
				
				<ul>
					<li class="btn o-btn" 
						o-route="home"
						o-lang="btn-home">
					</li>
					<li class="btn o-btn"
						o-route="choose-conditions"
						o-lang="btn-choose-conditions">
					</li>
					<li class="btn o-btn" 
						o-route="results"
						o-lang="btn-results">
					</li>
					<li class="btn o-btn" 
						o-route="legal" 
						o-lang="btn-legal">
					</li>
				</ul>
			
			</div>
		</div>	
	
	</footer>
