.brackets.json
npm-debug.log
.sass-cache

/dev/**

/dist/**

/node_modules/**

/bower_components/**

/example-project/node_modules/**

/example-project/bower_components/**

/example-project/dev/**

/example-project/dist/**

/example-project/src/octane_core/**

/example-project/cordova