/* Widgets */
	
	/* Collapsible Panels */
	
	.collapsible{
		overflow-y:hidden;
		max-height:0px;
		transition-property:all;
		transition-duration: 0.5s;
		transition-timing-function: cubic-bezier(0.465,0.183,0.153,0.946);
		
		&.visible{
			max-height:10000px;
			transition-property:all;
			transition-duration: 0.5s;
			transition-timing-function: cubic-bezier(0.465,0.183,0.153,0.946);
		}
	}