/* Scss Document */
/* one off for responding to width changes */
/* add breakpoint widths to any element */
/* for gradients, just add variables (use percentages for opacity!!) 
c1-pos = color1 position, i.e. top, bottom. op-c1 = color1 opacity, and so forth */
/* Scss Document */
o-view-container {
  position: relative;
  display: block;
  width: 100%;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: hidden; }

o-view {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  background-color: white; }

.view-left {
  transform: translateX(-100%); }

.view-right {
  transform: translateX(100%); }

.view-top {
  transform: translateY(-100%); }

.view-bottom {
  transform: translateY(100%); }

.view-fader {
  opacity: 0; }

.view-dismissed {
  opacity: 1;
  visibility: visible;
  display: block;
  z-index: 10;
  transform: translateX(0) translateY(0); }

.view-active {
  opacity: 1;
  visibility: visible;
  display: block;
  z-index: 100;
  transform: translateX(0) translateY(0);
  transition: transform 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.2s cubic-bezier(0.465, 0.183, 0.153, 0.946); }

o-control#translator {
  list-style: none;
  padding: 0px;
  margin: 25px 0px 15px  0px !important;
  z-index: 99999999999;
  display: block;
  border: none;
 	/*li {
		display: block;
		position: relative;
		float: left;
		z-index: 99999999999;
		
		ul {
			display: none;
			position: relative;
			top: 28px;
			left: -20px;
			z-index: 99999999999;
			width: 150px;
			 a {
				display: block;
				background: url(../img/down_arrow.png) right center no-repeat;
				padding: 5px 54px 5px 20px;
				text-decoration: none;
				white-space: nowrap;
				color: #fff;
				position: relative;
				z-index: 99999999999;
				width: 75px;
				&:hover	{
					text-decoration: none;
					color: white;
				}
			 }
		}
	}*/ }
  o-control#translator .nav-pills {
    margin-left: 5px !important; }
  o-control#translator li.dropdown {
    /*
    // added js click handler instead of hover
    &:hover{
    	ul{
    		position:absolute;
    		display:block;
    	}
    }
    */ }
    o-control#translator li.dropdown a.dropdown-toggle {
      cursor: pointer;
      min-width: 175px !important;
      border: 2px solid white !important;
      color: white !important;
      background-color: #1D1D1D;
      background-image: url(../img/down_arrow.png);
      background-repeat: no-repeat;
      background-position: 95% center; }
    o-control#translator li.dropdown ul.dropdown-menu {
      min-width: 175px !important;
      z-index: 99999999999;
      background-color: black !important;
      position: absolute; }
      o-control#translator li.dropdown ul.dropdown-menu li {
        z-index: 99999999999;
        cursor: pointer;
        color: white;
        list-style: none !important;
        min-height: 30px !important;
        text-align: left !important;
        padding-top: 5px;
        padding-left: 15px; }
        o-control#translator li.dropdown ul.dropdown-menu li:hover {
          color: black;
          background-color: white;
          text-shadow: none; }
        o-control#translator li.dropdown ul.dropdown-menu li a {
          display: block;
          position: relative;
          z-index: 99999999999; }
          o-control#translator li.dropdown ul.dropdown-menu li a:hover {
            text-decoration: none;
            color: white; }

o-modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  pointer-events: none;
  overflow-y: hidden;
  overflow-x: hidden;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  background-repeat: repeat; }
  o-modal-container:before {
    background-color: black;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%; }

o-modal-container.active {
  z-index: 999999998;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946); }

o-modal {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -1;
  overflow-y: scroll;
  will-change: transform;
  transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.5s cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.modal-active {
  opacity: 1;
  z-index: 999999999;
  visibility: visible;
  display: block;
  transform: translateX(0) translateY(0);
  transition: transform 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.4s cubic-bezier(0.465, 0.183, 0.153, 0.946); }

o-loading-container {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999999999; }

octane-debugger {
  font-family: 'Source Code Pro' !important;
  padding-left: 10px;
  display: block;
  height: 25px;
  position: fixed;
  z-index: 999999999999;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000000;
  border-top: thin #ffffff solid;
  color: white;
  opacity: 0.6; }
  octane-debugger ul, octane-debugger li {
    margin-top: 0px !important;
    margin-left: 10px;
    list-style: none;
    display: inline-block;
    font-size: 14px !important; }
  octane-debugger li {
    font-family: 'Source Code Pro' !important;
    padding-right: 5px;
    padding-top: 1.5px;
    cursor: pointer; }
    octane-debugger li:hover {
      color: #24ffed; }
  octane-debugger i {
    padding-right: 3px; }

html, body {
  height: 100%; }

body.octane {
  overflow-x: hidden;
  padding-left: 0px !important;
  padding-right: 0px !important; }

header.row,
footer.row,
div.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

o-background {
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
  o-background.active {
    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
    o-background.active canvas {
      width: 101%;
      margin-left: -0.5%;
      margin-top: -0.5%;
      filter: blur(3px);
      transform: translate-3d(0, 0, 0); }

[o-model] {
  visibility: hidden; }
  [o-model].compiled {
    visibility: visible; }

o-app-container {
  z-index: 1;
  float: left;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  opacity: 1;
  transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }
  o-app-container.hidden {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); }

.o-btn, .o-modal-dismiss, .o-back {
  cursor: pointer;
  min-height: 30px;
  min-width: 30px; }

[o-route] {
  cursor: pointer; }

.hidden {
  visibility: hidden !important; }

.display-none {
  display: none; }

.loading:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/loader-light.gif);
  background-size: 100px auto;
  background-position: center;
  background-repeat: no-repeat; }

/*# sourceMappingURL=octane.css.map */
