/* Scss Document */
/* one off for responding to width changes */
/* add breakpoint widths to any element */
/* for gradients, just add variables (use percentages for opacity!!) 
c1-pos = color1 position, i.e. top, bottom. op-c1 = color1 opacity, and so forth */
/* Scss Document */
o-control#translator {
  list-style: none;
  padding: 0px;
  margin: 25px 0px 15px  0px !important;
  z-index: 99999999999;
  display: block;
  border: none;
 	/*li {
		display: block;
		position: relative;
		float: left;
		z-index: 99999999999;
		
		ul {
			display: none;
			position: relative;
			top: 28px;
			left: -20px;
			z-index: 99999999999;
			width: 150px;
			 a {
				display: block;
				background: url(../img/down_arrow.png) right center no-repeat;
				padding: 5px 54px 5px 20px;
				text-decoration: none;
				white-space: nowrap;
				color: #fff;
				position: relative;
				z-index: 99999999999;
				width: 75px;
				&:hover	{
					text-decoration: none;
					color: white;
				}
			 }
		}
	}*/ }
  o-control#translator .nav-pills {
    margin-left: 5px !important; }
  o-control#translator li.dropdown {
    /*
    // added js click handler instead of hover
    &:hover{
    	ul{
    		position:absolute;
    		display:block;
    	}
    }
    */ }
    o-control#translator li.dropdown a.dropdown-toggle {
      cursor: pointer;
      min-width: 175px !important;
      border: 2px solid white !important;
      color: white !important;
      background-color: #1D1D1D;
      background-image: url(../img/down_arrow.png);
      background-repeat: no-repeat;
      background-position: 95% center; }
    o-control#translator li.dropdown ul.dropdown-menu {
      min-width: 175px !important;
      z-index: 99999999999;
      background-color: black !important;
      position: absolute; }
      o-control#translator li.dropdown ul.dropdown-menu li {
        z-index: 99999999999;
        cursor: pointer;
        color: white;
        list-style: none !important;
        min-height: 30px !important;
        text-align: left !important;
        padding-top: 5px;
        padding-left: 15px; }
        o-control#translator li.dropdown ul.dropdown-menu li:hover {
          color: black;
          background-color: white;
          text-shadow: none; }
        o-control#translator li.dropdown ul.dropdown-menu li a {
          display: block;
          position: relative;
          z-index: 99999999999; }
          o-control#translator li.dropdown ul.dropdown-menu li a:hover {
            text-decoration: none;
            color: white; }

html, body {
  height: 100%; }

body.octane {
  overflow-x: hidden;
  padding-left: 0px !important;
  padding-right: 0px !important; }

header.row,
footer.row,
div.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

o-container {
  overflow-x: hidden;
  overflow-y: hidden;
  visibility: hidden; }

o-canvas {
  position: relative;
  display: block;
  width: 100%; }

o-view, o-modal {
  position: absolute;
  visibility: hidden;
  display: none;
  opacity: 0;
  width: 100%;
  overflow-x: hidden; }

o-modal {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }

#o-modal-background {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60); }
  #o-modal-background.o-modal-active {
    z-index: 999999998;
    display: block; }

.o-btn {
  cursor: pointer; }

.blur {
  -webkit-filter: blur(2px); }

/*# sourceMappingURL=octane.css.map */
