
	<!-- partial: footer -->
	<footer class="row footer">

		<div class="row" style="padding-right:0px; width:100%">
			<div class="col-md-10 col-md-push-1" o-model="Translations">

				<ul>
					<li class="btn o-btn" o-route="home">
						{{btn-home @default(Home)}}
					</li>
					<li class="btn o-btn" o-route="page1">
						{{btn-choose-conditions @default(Choose Conditions)}}
					</li>
					<li class="btn o-btn" o-route="page2">
						{{btn-results @default(Results)}}
					</li>
					<li class="btn o-btn" o-route="page3">
						{{btn-legal @default(Legal)}}
					</li>
					<li class="btn o-btn" o-route="page3">
						{{btn-legal @default(Legal)}}
					</li>
					<li class="btn o-btn" o-route="page3">
						{{btn-legal @default(Legal)}}
					</li>
					<li class="btn o-btn" o-route="page3">
						{{btn-legal @default(Legal)}}
					</li>
				</ul>

			</div>
		</div>

	</footer>
