		
		<!-- header -->
		<header class="header" role="banner">
			
			<div id="header-inner" class="row" >
				
				<div class="col-md-2">
					<img src="./assets/img/logo.png" class="logo" o-route="home"/>
				</div>
				
				<div class="col-md-7">
					<h1>
						<span o-lang="tool-title"></span>
						<span class="vertical">&nbsp;</span>
						<span 
							o-update='{"text":"App.viewTitle"}'
						</span>	
					</h1>
				</div>
				
				<div class="col-md-3">
					
					<!-- Translator dropdown-->
					<o-control id="translator"></o-control>
					
				</div>	
			
			</div>
			
			<div class="row header-gradient">
			</div>	
			
		</header>
