
		<!-- Loading View -->

			<div id="initial-loading">


				<div class="progress">
					<div
						o-model="appLoading"
						class="progress-bar progress-bar-warning progress-bar-striped active"
						role="progressbar"
						aria-valuenow="{{progress}}"
						aria-valuemin=0
						aria-valuemax=0
						style="width: {{progress}}%">
					</div>
					<span o-model='appLoading' class="sr-only">{{progress @default(0)}}% Complete</span>
				</div>

				<div class="loading-message" >
						<p o-model='Bootlog'>{{status @default(Loading...)}}</p>
						<p o-model="appLoading">{{progress @default(0)}}%</p>
				</div>

				<div class="branding">
					<img src="assets/img/logo.png" class="logo" />
				</div>


			</div>
