
octane-debugger{
  font-family: 'Source Code Pro' !important;
  padding-left:10px;
  display:block;
  height:25px;
  position:fixed;
  z-index:999999999999;
  bottom:0px;
  left:0px;
  right:0px;
  background-color:#000000;
  border-top:thin #ffffff solid;
  color:white;
  opacity:0.6;
  ul,li{
      margin-left:10px;
      list-style:none;
      display:inline-block;
      font-size:14px !important;
  }
  li{
     font-family: 'Source Code Pro' !important;
     padding-right:5px;
     padding-top:1.5px;
     cursor:pointer;
     &:hover{
      color:#24ffed;
    }
  }
  i{
    padding-right:3px;

  }
}
