/* Scss Document */

div#app-loading-screen{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%;
	height:100%;
	background-color:black;
	background-image:url(../img/loader-light.gif);
	background-size:auto;
	background-repeat:no-repeat;
	background-position:50% 50%;
	//background: #222325 url(../img/homeScreen.jpg) no-repeat 50% 50% !important;
	background-size: cover !important;
	padding-top:33%;
	&:before{
		contents:"";
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		width:100%;
		height:100%;
		background-color:#373737;
	}
	&>div{
		position:relative;
		margin-left:auto;
		margin-right:auto;
		width:33%;
		height:50px;
		text-align:center;
		h4{
			color:white;
		}
	}
}
