/* Scss Document */


/* one off for responding to width changes */
@mixin width-between ($min-w,$max-w) {
	@media screen and (min-width: $min-w +1) and (max-width: $max-w) {@content}
}


/* add breakpoint widths to any element */
@mixin width-adapt($xs,$sm,$md,$lg,$xl) {
		@media screen and (max-width: $screen-phone) {
			width: $xs;
			}
		@media screen and (min-width: $screen-phone + 1) and (max-width: $screen-tablet) {
			width: $sm;
			}
		@media screen and (min-width: $screen-tablet + 1) and (max-width: $screen-desktop) {
			width:$md;
			}
		@media screen and (min-width: $screen-desktop + 1) and (max-width: $screen-desktop-lg) {
			width: $lg;
			}
		@media screen and (min-width: $screen-desktop-lg + 1) {
			width: $xl;
			}
}

@mixin height-adapt($xs,$sm,$md,$lg,$xl) {
		@media screen and (max-width: $screen-phone) {
			height: $xs;
			}
		@media screen and (min-width: $screen-phone + 1) and (max-width: $screen-tablet) {
			height: $sm;
			}
		@media screen and (min-width: $screen-tablet + 1) and (max-width: $screen-desktop) {
			height:$md;
			}
		@media screen and (min-width: $screen-desktop + 1) and (max-width: $screen-desktop-lg) {
			height: $lg;
			}
		@media screen and (min-width: $screen-desktop-lg + 1) {
			height: $xl;
		}
}

@mixin fontsize-adapt($xs,$sm,$md,$lg,$xl) {
		@media screen and (max-width:$screen-phone) {
			font-size:$xs;
		}
		@media screen and (max-width:$screen-tablet) {
			font-size:$sm;
		}
		@media screen and (max-width:$screen-desktop) {
			font-size:$md;
		}
		@media screen and (max-width:$screen-desktop-lg) {
			font-size:$lg;
		}
		@media screen and (min-width: $screen-desktop-lg + 1) {
			font-size: $xl;
		}
}

/* for gradients, just add variables (use percentages for opacity!!)
c1-pos = color1 position, i.e. top, bottom. op-c1 = color1 opacity, and so forth */
@mixin gradient($c1,$c1-pos,$c1-op,$c2,$c2-pos,$c2-op) {
	background: -ms-linear-gradient($c1-pos, $c1 $c1-op, $c2 $c2-op);
	background: -moz-linear-gradient($c1-pos, $c1 $c1-op, $c2 $c2-op);
	background: -webkit-gradient(linear, left $c1-pos, left $c2-pos, color-stop($c1-op/100%, $c1), color-stop($c2-op/100%, $c2));
	background: -webkit-linear-gradient($c1-pos, $c1 $c1-op, $c2 $c2-op);
	background: -webkit-linear-gradient($c1-pos, $c1 $c1-op, $c2 $c2-op);
	background: linear-gradient(to $c2-pos, $c1 $c1-op, $c2 $c2-op);
}

@mixin gradient3($c1,$c1-pos,$c1-op,$c2,$c2-pos,$c2-op,$c3,$c3-pos,$c3-op) {
	background: -ms-linear-gradient($c1-pos, $c1 $c1-op, $c2 $c2-op, $c3-pos, $c3 $c3-op);
	background: -moz-linear-gradient($c1-pos, $c1 $c1-op, $c2 $c2-op, $c3-pos, $c3 $c3-op);
	/*background: -webkit-gradient(linear, left $c1-pos, left $c2-pos, color-stop($c1-op/100%, $c1), color-stop($c2-op/100%, $c2));*/
	background: -webkit-linear-gradient($c1-pos, $c1 $c1-op, $c2 $c2-op, $c3-pos, $c3 $c3-op);
	background: -webkit-linear-gradient($c1-pos, $c1 $c1-op, $c2 $c2-op, $c3-pos, $c3 $c3-op);
	background: linear-gradient(to $c2-pos, $c1 $c1-op, $c2 $c2-op, $c3-pos, $c3 $c3-op);
}

@mixin radial-gradient($pos,$c1,$c1-size,$c2,$c2-size,$c3,$c3-size){
	background: -webkit-radial-gradient($pos,$c1 $c1-size,$c2$c2-size,$c3 $c3-size); /* Safari 5.1-6.0 */
	background: -o-radial-gradient($pos,$c1 $c1-size,$c2 $c2-size,$c3 $c3-size); /* For Opera 11.6-12.0 */
	background: -moz-radial-gradient($pos,$c1 $c1-size $c2,$c2-size,$c3 $c3-size); /* For Firefox 3.6-15 */
	background: radial-gradient($pos,$c1 $c1-size,$c2 $c2-size,$c3 $c3-size); /* Standard syntax */
}

@mixin opacity($value){
	$IEValue: $value*100;
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
	filter: alpha(opacity=$IEValue);
}

@mixin rotate($degree){
	-ms-transform:rotate($degree); /* IE 9 */
	-webkit-transform:rotate($degree); /* Chrome, Safari, Opera */
	transform:rotate($degree);
}

@mixin skewx($degree) {
	-ms-transform:skewx($degree); /* IE 9 */
	-webkit-transform:skewx($degree); /* Chrome, Safari, Opera */
	transform:skewx($degree);
}

@mixin skewy($degree) {
	-ms-transform:skewy($degree); /* IE 9 */
	-webkit-transform:skewy($degree); /* Chrome, Safari, Opera */
	transform:skewy($degree);
}
