/* Scss Document */


.frame-left{
		transform: translateX(-100%);
		transition:
			transform 0.3s cubic-bezier(0.465,0.183,0.153,0.946),
			opacity 0.5s cubic-bezier(0.465,0.183,0.153,0.946);
}

.frame-right{
		transform: translateX(100%);
		transition:
			transform 0.3s cubic-bezier(0.465,0.183,0.153,0.946),
			opacity 0.5s cubic-bezier(0.465,0.183,0.153,0.946);
}

.frame-top{
		transform: translateY(-100%);
		transition:
			transform 0.3s cubic-bezier(0.465,0.183,0.153,0.946),
			opacity 0.5s cubic-bezier(0.465,0.183,0.153,0.946);
}

.frame-bottom{
		transform: translateY(100%);
		transition:
			transform 0.3s cubic-bezier(0.465,0.183,0.153,0.946),
			opacity 0.5s cubic-bezier(0.465,0.183,0.153,0.946);
}

.frame-fade{
		opacity: 0;
		transition:
			transform 0.3s cubic-bezier(0.465,0.183,0.153,0.946),
			opacity 0.5s cubic-bezier(0.465,0.183,0.153,0.946);
}

.frame-queued{
		opacity:1;
		visibility:visible;
		display:block;
		z-index:10;
		transform: translateX(0) translateY(0);
		//transition:
			//transform 0.5s cubic-bezier(0.465,0.183,0.153,0.946),
			//opacity 0.5s cubic-bezier(0.465,0.183,0.153,0.946);
}

.frame-active{
		opacity:1;
		visibility:visible;
		display:block;
		z-index:100;
		transform: translateX(0) translateY(0);
		transition:
				transform 0.2s cubic-bezier(0.465,0.183,0.153,0.946),
				opacity 0.2s cubic-bezier(0.465,0.183,0.153,0.946);
}

.frame-animating{
	opacity:1;
	visibility:visible;
	display:block;
	z-index:100;
}
