
$menuBarHeight:40;
$menuBarPaddingTop:8px;
$menuBarPaddingBottom:8px;

$menuBarColor:	#ffffff;
$menuBarBg:		#414141;

// greyscale
$themeWhite: 	#FCFCFC;
$themeDark: 	#6A6969;
$themeDarker: 	#4B4B4B;
$themeDarkest: 	#1B1B1B;

// Brand Colors
$pageBG:          rgb(34,35,37);
$darkBG:          rgb(30,30,30);
$brandColor1:     rgb(252,184,17);
$brandColor2:     rgb(20,181,231);
$brandColor3:     rgb(149,14,14);
$lightestText:    rgb(255,255,255);
$lightText:       rgb(200,200,210);
$mediumText:      rgb(75,75,75);

// fonts
$font-family: "univers-cond-light";
