/* Framework */

//@import 'bourbon/_bourbon';
@import '_theme';
@import 'components/_css-reset';
@import 'components/_constants';
@import 'components/_mixins';
@import 'components/_loading';
@import 'components/_scaffold';
@import 'components/_ui-messages';
@import 'components/_header';
@import 'components/_footer';


/* Modules */


@import '../../octane_modules/widgets/scss/_widgets';



/* Global */


h1{
	font-size: 25px;
	font-weight: 100;
	padding-left:10px;
	padding-right:10px;
}

h2{
	font-size: 25px;
	font-weight: 100;

}


div#application {
	margin-top:15px;
}


.btn {
		margin-top:15px;
}

.stats {
	margin-bottom:15px;
	background-color:#282626;
	min-height:125px;
	@include width-between(0px,$screen-tablet){
		padding-bottom:30px;

	}
	color:white;
	@include height-adapt(auto,auto,210px,217.5px,217.5px);
	h3{
		color:white !important;
	}
	ul{
		list-style:none;
	}
	li{
		padding-bottom:5px;
		span{
			padding-bottom:5px;
		}
	}
	&.small:last-child{
		margin-bottom:0px !important;
	}
	&.large{
		margin-bottom:15px;
		background-color:#282626;
		min-height:450px;
		color:white;
	}
	.result-data{
		color:#ffcc00;
	}
}

.jumbo-text{
	line-height:200px;
	font-size:150px;
	text-align:center;
	font-weight:bold;
}

span.btn-primary{
	line-height:20px;
	padding-top:15px;
	min-height:45px;
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:10px;
	width:95%;
	span.glyphicon{
		float:right;
	}
}

.black-text {
	color:black;
}

.block-25{
	display:block;
	@include width-adapt(100%,100%,50%,33.33%,25%);
	padding:1%;
	height:auto;
	float:left;
}

/********************/
/*				   	      */
/* loading screen 	*/
/*				   	      */
/********************/

o-loading-container {
	background-color:#2d354a;
	background-size: cover;
	background-position: fixed;
	width:100%;
	height:100%;
	padding-top:30%;
	.loading-message{
		text-align:center;
		color:white;
		font-size:18px;
	}
	.progress,
	.loading-message {
		margin-left:auto;
		margin-right:auto;
		width:300px;
		max-width:90%;
		height:20px;
	}
	.branding .logo {
		position:absolute;
		bottom:0;
		right:0px;
		margin:20px;
		width: 40px;
	}
}
