o-modal-container{
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:0;
    pointer-events:none;
    overflow-y:scroll;
   
    opacity:0;
    will-change: opacity;
    transition: opacity 0.5s cubic-bezier(0.465,0.183,0.153,0.946);
    
    background-image:url(../img/octane-modal-bg.png);
    background-repeat:repeat;
    
    /*&:before{
        background-color:black;
        @include opacity(0.8);
        z-index:-1;
        content:"";
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        width:100%;
        height:100%;
    }*/
}

o-modal-container.active{
    z-index:999999998;
    pointer-events:auto;
    opacity:1;
    transition: opacity 0.4s cubic-bezier(0.465,0.183,0.153,0.946); 
}

o-modal {
    position:absolute;
    visibility:hidden;
    height:100%;
    width:100%;
    opacity:0;
    top:0;
    left:0;
    z-index:999999999;
    will-change:transform;
}

.modal-active{
    opacity:1;
    visibility:visible;
    display:block;
    transform: translateX(0) translateY(0);
    transition: 
        transform 0.8s cubic-bezier(0.465,0.183,0.153,0.946),
        opacity 0.8s cubic-bezier(0.465,0.183,0.153,0.946);
}